<ion-header>
  <ion-navbar primary>
    <ion-title>Elite Schedule - My Teams</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>You are not currently following any teams.</h1>
  <button ion-button primary (click)="goToTournaments()">Find a Tournament</button>
  <h2>User List</h2>
  <ion-list>
    <!--<ion-item *ngFor="let user of users">
      {{user.name}}
    </ion-item>-->
    <ion-item *ngFor="let tournament of tournaments">
      {{tournament.name}}
    </ion-item>
  </ion-list>
</ion-content>